body {
    font-size: 2rem;
    font-family: 'Maven Pro', sans-serif;
    margin: 0px;
    margin: 20px 300px;
    padding: 0;
    text-decoration: none;
}

/* FONTS */

h3 {
    font-size: .7em;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Crimson Text', serif;
}

h4 {
    margin-left: 20px;
    font-size: .5em;
}

h5 {
    margin-left: 20px;
    margin-top: -20px;
    font-size: .5em;
    font-weight: 300;
    color: #00599A;
    /* color: #58595B; */
}

p {
    font-size: .5em;
}

.phoneNumber {
   margin-bottom: 0;
}

a {
    font-size: .5em;
    text-decoration: none;
    color: #000000;
}

span {
    font-size: .5em;
}

.blueFontColor {
   color: #00599A;
   /* color: #58595B; */
   font-size: 1em;
}



.resumeGrid {
    display: grid; 
 
    grid-template-rows: 1fr 50px 50px 1fr 50px 1fr 1fr 1fr 50px 1fr .1fr 50px 50px .5fr 1fr;
    grid-template-columns: 75% 25%

    gap: 0px;
    height: 100%; 
    
 }
   

 /* NAME & TITLE */

 .nameAndTitle {
 
    /* background-color: #cb76de;  */
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 2;
    grid-column-end: 5;

 }

 .name, .jobTitle {
   text-transform: uppercase;
    margin-left: 20px;
   font-family: 'Roboto', sans-serif;
 }

 .name {
    font-size: 1.8em;
    color: #00599A;
 }

 .jobTitle {
    margin-top: -68px;
    font-size: .6em;
    letter-spacing: 11.7px;
    color: #58595B;
    font-family: 'Roboto', sans-serif;
}

/* CONTACT */

.contactTitle {
    /* background-color: #79aed7;  */
    grid-row-start: 2;
    grid-column-start: 5;
 
    grid-row-end: 3;
    grid-column-end: 6;
 }

 .contactInfo {
    /* background-color: #b5e57b;  */
    grid-row-start: 3;
    grid-column-start: 5;
 
    grid-row-end: 5;
    grid-column-end: 6;
    
    margin-top: -10px;
 }

 .icons {
    font-size: 2em;
    margin-top: -20px;
 }

 .ri-github-line, .ri-linkedin-box-line, .ri-twitter-line {
   color: #00599A
 }

 /* SKILLS */

 .skillsTitle {
 
    /* background-color: #9755ca;  */
    grid-row-start: 5;
    grid-column-start: 5;
 
    grid-row-end: 6;
    grid-column-end: 6;   
    
    margin-top: -20px;
 }

 .skillsList {
 
    /* background-color: #755795;  */
    grid-row-start: 6;
    grid-column-start: 5;
 
    grid-row-end: 9;
    grid-column-end: 6;

    display: flex;
    flex-direction: column; 
    margin-top: -20px;   
 }

 .skillsList > span {
    margin-top: 5px;
 }


/* EDUCATION */

 .educationTitle {
 
    /* background-color: #b698cb;  */
    grid-row-start: 9;
    grid-column-start: 5;
 
    grid-row-end: 10;
    grid-column-end: 6;
    margin-top: -240px ;
 }
 
 .educationList {
 
    /* background-color: #bcc887;  */
    grid-row-start: 10;
    grid-column-start: 5;
 
    grid-row-end: 12;
    grid-column-end: 6;
    
    margin-top: -250px;
 }

 

/* LANGUAGES */

 .languages {
 
    /* background-color: #86c977;  */
    grid-row-start: 12;
    grid-column-start: 5;
 
    grid-row-end: 13;
    grid-column-end: 6;
    
    margin-top: -260px;
 }

 .languagesList {
    /* background-color: #fbee66;  */
    grid-row-start: 13;
    grid-column-start: 5;
 
    grid-row-end: 15;
    grid-column-end: 6;

    margin-top: -270px;
 }


 /* L COLUMN INDENTATION */

 .leftTitlesIndent {
    margin-left: 20px;
 }

 .leftTextIndent {
    margin-left: 20px;
 }

 /* SUMMARY */

 .summary {
    /* background-color: #bf97dd;  */
    grid-row-start: 2;
    grid-column-start: 1;
 
    grid-row-end: 3;
    grid-column-end: 5;

    /* margin-top: -50px;   */
 }
 
 .summaryText{
    /* background-color: #eb777b;  */
    grid-row-start: 3;
    grid-column-start: 1;
 
    grid-row-end: 5;
    grid-column-end: 5;

    /* margin-top: -65px; */
 }

 /* EXPERIENCE */

 .experience {
    /* background-color: #df568b;  */
    grid-row-start: 5;
    grid-column-start: 1;
 
    grid-row-end: 6;
    grid-column-end: 5;

    margin-top: -120px;
 }
 
 .experienceList {
    /* background-color: #f578af;  */
    grid-row-start: 6;
    grid-column-start: 1;
 
    grid-row-end: 13;
    grid-column-end: 5;

    margin-top: -130px;
 }

 .experienceList > ul {
    font-size: .5em;
    margin-top: -20px;
    margin-left: 15px;
 }

 /* ACTIVITIES */
 
 .activities {
    /* background-color: #da77df;  */
    grid-row-start: 13;
    grid-column-start: 1;
 
    grid-row-end: 14;
    grid-column-end: 5;

    margin-top: -360px;
    
 }

 .activitiesList {
    /* background-color: #c58f97;  */
    grid-row-start: 14;
    grid-column-start: 1;
 
    grid-row-end: 16;
    grid-column-end: 5;
    
    margin-top: -370px;
 }

 .volunteering {
   font-size: .5em;
 }



 